.photo-actions button {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-family: "Mali", cursive;
  font-size: 14px;
  padding: 8px 12px;
  cursor: pointer;
}

.photo-actions button:hover {
  background-color: #fff;
  color: #000;
}